@charset "utf-8";
/* CSS Document */

.unstamp{
	display:none;
}
input{
	border-color:transparent;
	border:#FFF;
}
.avviso{
	font-size:30px;
	font-weight:bold;
	background-image:url(enduro.png);
	background-repeat:no-repeat;
	display:block;
	visibility:visible;
}
